@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

h2 {
    font-family: 'Roboto', sans-serif;
    color: #102226;
    font-weight: 400;
    font-size: 40px;
    line-height: 2px;

}

.box {
    width: 510px;
    height: 96px;
    padding-left: 76px;
    padding-top: 60px;
    position: relative;
  
}

.box::before {

    content: '';
    background-image: url(Sun.svg);
    width: 172px;
    height: 175px;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    
}

.box-1 {
    width: 174px;
    height: 50px;
    margin-left: 100px;
    margin-top:100px;
    background-color: #26534C;
    color:  #FFFFFF;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    padding-right: 33px;

    
}

.box-1::after {
    content: '';
    background-image: url(arrow.svg);
    width: 12px;
    height: 12px;
    position: absolute;
    right: 11px;
    top: 17px;
    transition: 0.5s;
    cursor: pointer;   
}


/* .box-1:hover{
    transition: 0.5s;
    cursor: pointer;
    color: aquamarine;

} */

.box-2 {
    width: 555px;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    
}

.discount-offer_form {
    height: 555px;
    width: 100%;

}

.input {
    width: 100%;
    height: 65px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    
}


.input-5 {
    width: 100%;
    height: 130px;
    margin-bottom: 20px;    
}


.btn {
    width: 102%;
    height: 65px;
    border: 2px;
    background-color: #5C8692;
}


.name{
    background-image: url(name\ \(1\).svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top: 10%;
    left:1%; 
    
}

.email {
    background-image: url(email.svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top:23%;
    left: 1%;
    
}


.phone {
    background-image: url(phone.svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top: 36%;
    left: 1%;
    
}

 .text {
    background-image: url(Book.svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top: 49%;
    left: 1%;
}

.comment {
    background-image: url(write\ me.svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top: 63%;
    left: 1%;

}


