@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, **::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: $manrope;
    font-weight: 400;
    color: #555555;
    font-size: 17px;
    // min-width: 1200px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', sans-serif;
    color: $black;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 0.45px;
}

 h4{
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.264px;
 }

.subtitle {
    font-size: 15px;
    color: $blue;
    font-family: $manrope;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 4px;
}
p {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: $grey;
}

a{
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    color: $black;
    font-size: 17px;
    &:focus, &:active {
        outline:none;
    }

    &:hover {
        color: $blue;
    }


}

ul {
    list-style: none;

}

button {
    display: inline-block;
    transition: all 0.35s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 13px;
    cursor: pointer;
    font-family: $manrope;
    


}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}

// .large-container {
//     max-width: 1380px;
//     margin: 0 auto;
// }

.btn {
    font-size: 13px;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 1.5;
    padding: 18px 32px 19px 32px;
    background-color: $blue;
    &:hover {
        color: $black;
    }
}

.btn-light {
    color:$black;
    background-color: transparent;
    border: 2px solid $blue;
    padding: 16px 30px 17px 30px;
    &:hover {
        color: white;
        background-color: $blue;
    }
}

